<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>ejs</title>
    <script src="./index-static.js"></script>
</head>
<body>
    <h1>abc</h1>
    <div class="">
    <% if (user) { %>
        <h2><%= user.name %></h2>
    <% } %>
    </div>
</body>
</html>